.select{
    color: white;
    min-width: 200px;
    font-family: Sarala;
    margin-left: 25px;
    margin-right: 25px;
    max-height: 64px;
    margin-top: 40px;
}

.select:focus-within{
    color: #494949;
    min-width: 200px;
    font-family: Sarala;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}