.select{
    --background : #ffffff00;
    --border: 2px solid #fff;
    --borderRadius: 2px;
    color: white;
    min-width: 200px;
    font-family: Sarala;
    --listBackground: #04040446;
    --itemColor: #FFFFFF;
    --itemHoverBG: #00000080;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}

.select:focus-within{
    --background : #ffffff;
    color: #494949;
    min-width: 200px;
    font-family: Sarala;
    --listBackground: #04040446;
    --itemColor: #FFFFFF;
    --itemHoverBG: #00000080;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
}