.input{
    border: 2px solid rgba(255, 255, 255, 0.44);
    background-color: #ffffff00;
    box-sizing: border-box;
    border-radius: 2px;
    min-width: 200px;
    max-width: 200px;
    min-height: 42px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 40px;
    outline: none;
    font-family: Sarala;
    color: white;
}