h1{
    color: white;
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    font-family: Sarala;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

hr{
    width: 70%;
    border-top: 1px;
    opacity: .5;
}

.box{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17%;
    height: 225px; 
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.container{
    min-height: 90.781px;
}

#row{
    display: flex;
}